<p class='lead'>
	In the next questionnaire we will ask you some questions about your feelings toward the two individuals you met in the first part of the study. 
    This questionnaire will take about 30 seconds to complete.</br></br>
	There are no correct or incorrect answers to the questions. We are interested in your genuine thoughts and feelings.

</p>


