<p class='lead'>
In the next task, you will be presented with a set of words to evaluate as either "Good" or "Bad". 
This task requires that you classify the words as quickly as you can while making as few mistakes as possible.<br/><br/>
</p>


