<p class='lead'>
Ready to learn about the two individuals? <br/><br/>
In the next task, we will show you typical behaviors of each of the two individuals. 
Remember, your task is to form an impression of each individual.
</p>



